:root {
    --header-background-color: #0078d7;
    --header-color: #fefefe;
    --sidebar-background-color: #f4f4f4;
    --selected-background-color: #eeeeee;
    --selected-color: #3b69e5;
    --sidebar-hover-background-color: #fafafa;
    --main-color: #30343b;
    --blue-font-color: #0078d7;
    --header-height: 80px;
    --footer-height: 40px;
    --sidebar-width: 300px;
    --border-grey: #ebebeb;
    --selected-task-background-color: #f4f6ff
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    text-rendering: optimizeLegibility;
}

html {
    /* footer support */
    position: relative;
}

body {
    font-family: "Segoe","Segoe UI","Arial","sans-serif";
    font-size: 25px;
    min-height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--header-background-color);
    height: 80px;
    width: 100%;
    display: flex;
}

.header .title {
    font-family: 'Yusei Magic', sans-serif;
    font-weight: bold;
    color: var(--header-color);
    align-self: center;
    font-size: 50px;
    padding-left: 10px;
}

.main {
    font-family: "Segoe","Segoe UI","Arial","sans-serif";
    display: flex;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    color: var(--main-color);
}

.sidebar {
    position: absolute;
    display: flex;
    font-size: 28px;
    flex-direction: column;
    background-color: var(--sidebar-background-color);
    width: var(--sidebar-width);
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    height: calc(100vh - var(--header-height) - var(--footer-height));
    padding: 10px;
}

.side-block {
    display: flex;
    gap: 5px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.side-block:hover {
    background-color: var(--sidebar-hover-background-color);
}

.side-block.current {
    background-color: var(--selected-background-color);
    color: var(--selected-color);
}

.side-icon {
    height: 25px;
    width: 25px;
}

.container {
    flex: 1 1 auto;
    padding: 10px;
    margin-left: var(--sidebar-width);
    border: 1px solid #ebebeb;
    margin-right: 0;
}

.container.collapse {
    margin-right: 300px;
}

.add-button {
    padding: 10px;
    display: flex;
    gap: 10px;
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    min-height: 80px;
    border-radius: 8px;
    background-color: var(--sidebar-background-color);
}

.add-trigger {
    color: var(--blue-font-color);
}

.todo-collapse {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 28px;
    padding: 0 20px;
    height: 90px;
}

.todo-collapse:hover {
    background-color: var(--sidebar-background-color);
}

.todo-collapse.selected {
    background-color: var(--selected-task-background-color);
}

.todo-importance {
    width: 20px;
    height: auto;
    margin-left: auto;
}

.edit-panel.opened {
    position: absolute;
    right: 0;
    width: var(--sidebar-width);
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
    height: calc(100vh - var(--header-height) - var(--footer-height));    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: var(--sidebar-background-color);
    padding: 15px;
}

.edit-panel.closed {
    width: 0;
}

.edit-panel .edit-block {
    background-color: var(--sidebar-background-color);
    border-radius: 8px;
    background-color: #fefefe;
    height: 70px;
    display: flex;
    align-items: center;
    color: #777779;
    border: 1px solid #ebebeb;
}

.edit-panel .side-due-date-title {
    font-size: 20px;
}

.my-day-block {
    cursor: pointer;
}

.my-day-block.added{
    color: rgb(21, 95, 255);
}