:root {
    --primary-dark: #333;
    --secondary-dark: #444;
    --primary-light: #eee;
    --secondary-light: #ddd;
    --header-height: 80px;
    --footer-height: 40px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
    /* footer support */
    position: relative;
    min-height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;

}

.content {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--primary-dark);
    height: 80px;
    width: 100%;
    display: flex;
}

.header .title {
    font-family: 'Yusei Magic', sans-serif;
    font-weight: bold;
    color: var(--primary-light);
    align-self: center;
    font-size: 50px;
    padding-left: 10px;
}

.main {
    display: flex;
    min-height: calc(100vh - var(--header-height) - var(--footer-height));
}

.sidebar {
    display: flex;
    font-size: 28px;
    flex-direction: column;
    background-color: var(--secondary-light);
    width: 300px;
    min-height: 100%;
    padding: 10px;
}

.side-block {
    display: flex;
    gap: 5px;
    padding: 10px;
    align-items: center;
    cursor: pointer;
}

.side-icon {
    height: 25px;
    width: 25px;
}

.todo-collapse {
    display: flex;
    align-items: center;
}

.todo-status {
    
}

.todo-importance {
    width: 20px;
    height: auto;
}